

.header{
    padding: 30px;
    background-color: #ffffff;
    top: 0%;
    width: 100%;
    left: 0%;
    box-sizing: border-box;
    position: fixed;
}

#myname{
    background-color: #4aaaa5;
    width: 350px;
    float: left;
    top: 0px;
    position: fixed;
    color: #ffffff;
    text-align: center;
    left: 108px;
}

nav{
    float: right;

}

nav > a{
    padding-right:20px ;
}


body {
    background-image: url("../images/retina_wood.png");
    color: #777777;
    width: 960px;
}

.about{
    width: 650px;
    background-color: #ffffff;
    margin-top: 100px;
    margin-left: 100px;
    padding: 60px;
    margin-bottom: 10px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: #777777;
}
.about img{

    width: 200px;
    height: 162px;
    padding: 10px;
    float: left;
    margin: 5px;
    margin-top: -6px;
}
.about p{
    margin: 10px;
    margin-top: 15px;
}
.about h1{
    color: #4aaaa5;
    margin: 10px;
}
.social h2{
    color: #4aaaa5;
}
.social img {
    width: 50px;
    height: 50px;
}

aside{
    width: 240px;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 140px;



}

.clearfix{
    overflow: auto;
}




footer{
    padding: 10px;
    background-color: #666666;
    text-align: center;
    position: fixed ;
    bottom: 0px;
    width: 100%;
    left: 0%;
    color: #eeeeee;
}

h1, h2{
    font-family: Georgia, "Times New Roman", Times, serif;
}

p{
    font-size: large;
    font-style: italic;
    ont-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name{
    padding-top: 10px;
    width: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
}
#email{
    padding-top: 10px;
    width: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
}
#message{
    padding-top: 80px;
    width: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 640px) {

    #myname{
        width: 100%;
        Left:0;

    }
    nav{
        float: none;
        padding-top:62px ;
        text-align: center;
        font-size: 24px;

    }
    .about img{
        float: none;
        width: 10%;
    }
    .about{
        padding-bottom: 5px;
        padding-top: 5px;
        width: 496px;
        margin-left: 172px;
        margin-top: 158px;
    }


    .social{
        width: 573px;
        margin-top: -3px;
        margin-left: 173px;
        position: absolute;
        margin-bottom: 110px;
        top: 508px;
        left: 8px;
        text-align: left;
    }


}

@media screen and (max-width: 980px)and (min-width: 769px) {

    .about img{
        float: none;
    }
    .about{
        width:300px;
        margin-right: 10px;
        margin-bottom: 120px;

    }
    .about img{
        width: 19%;
    }

    aside img{
        width: 19%;
    }
    aside{
        right: 120px;
    }
}

@media screen and (max-width: 768px) and (min-width: 641px) {

    .social{
        width: 700px;
        margin-top: -28px;
        margin-left: 175px;
        position: absolute;
        margin-bottom: 110px;
        top: 508px;
        left: 8px;
        text-align: left;

    }



    .about{
        padding-bottom: 5px;
        padding-top: 5px;
        width: 65%;
        margin-left: 173px;
    }

    #name, #email, #message{
        width: 100%;
    }
}
